<!-- JHS 19 Sep 19 replace axure page -->
{% extends "layout.html" %}
{% block page_title %}
Reasons for appealing - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="#" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Your reasons for appealing
    </h1>
    <p>DWP should have explained their decision on your entitlement to PIP in the Mandatory Reconsideration Notice (MRN).</p>
    <p>Read the MRN and write what you disagree with and why. Your reasons will be considered by an independent tribunal who are separate from DWP.</p>

    <form>
      <fieldset>
        <div class="form-group">
          <label class="form-label" for="what-you-disagree-with">
            What you disagree with
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="what-you-disagree-with">
           Why you disagree with it
          </label> 
        <textarea class="form-control form-control-3-4" id="textarea-a"  rows="10"></textarea>
      </div>
    </fieldset>
      <a class="button" href="submit-your-appeal/011-additional-reasons-appointee">Continue</a>
    </form>  
  </div>
</div>
</main>
{% endblock %}